<div class="footer">
    <h5>Made with <i class="fas fa-heart"></i> </h5>
    <p><i class="far fa-copyright"></i> 2020 Sagar Patkar. All rights reserved. </p>
    <p>For any technical support please contact @ developer.psy02@gmail.com</p>
</div>
</body>
</html>