<div class="footer">
    <h5>Made with <i class="fas fa-heart"></i> </h5>
    <p><i class="far fa-copyright"></i> <%= new Date().getFullYear();%>
        Sagar Patkar. </p>
    <p>Contact - sagarpatkar17@gmail.com</p>
</div>
</body>
</html>