<%- include("partials/header") %>
<div class="jumnotron centered">
    <h1 class="display-4">To-Do list your Opportunities.</h1>
    <hr class="my-4">
    <p class="lead">Each day is a treasure filled with limitless opportunities, take joy in checking many off your list</p>
    <a class="btn btn-outline-dark btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-outline-info btn-lg" href="/login" role="button">Login</a>
</div>


<%- include("partials/footer") %>